*.log
*.tgz
*.zip
.env
.eslintcache
.idea/
.npm
.phpunit.result.cache
build/
js/
composer.lock
logs
node_modules/
npm-debug.log*
package-lock.json
reports/
vendor/
wp-nowpayments-integration/

yarn-debug.log*
yarn-error.log*
