name: Run UnitTests

on: [push]

jobs:
    unit-tests:
        name: UnitTests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout project
              uses: actions/checkout@v5

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 'latest'
                  coverage: none
                  tools: composer, cs2pr

            - name: Composer dependencies
              run: composer install

            - name: Install PHP dependencies
              uses: ramsey/composer-install@v3
              with:
                  composer-options: '--prefer-dist --no-scripts'

            - name: Run Testsuite
              run: composer test
